

<app-header></app-header>
<div class="Dashboard_Wrapper" fxLayoutAlign="space-between">
    <div fxLayout="row" fxFlex="75" class="Dashboard_Wrapper_Posts_Wrapper">
        <div>
            <div *ngIf="topTrendingPosts.length > 0" class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Wrapper">
                <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Header">
                    <i class="fa fa-star fa-1x" aria-hidden="true"></i><span style="font-size: 1.0em;">Trending Posts</span>
                </div>
                <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts">
                    <div (click)="gotToDetailedPost(topTrendingPost)" *ngFor="let topTrendingPost of topTrendingPosts; index as i" class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post">
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Button">
                            <button mat-mini-fab color="basic" aria-label="Example icon button with a menu icon">{{i + 1}}</button>
                        </div>
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Text">
                            <div>{{topTrendingPost.title}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Dashboard_Wrapper_Posts_Wrapper_Posts">
                <div (click)="gotToDetailedPost(eachPost)" *ngFor="let eachPost of generalFeedPosts" class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post">
                    <mat-card class="example-card">
                        <div>
                            <div fxLayout="row" fxFlex="80" class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post_Text">
                                <div fxFlex="100" fxLayout="column">
                                    <div class="header"><h3>{{eachPost.title}}</h3></div>
                                    <div class="content">
                                        <p>
                                            {{eachPost.description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div fxLayout="row" fxFlex="20" class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post_Image">
                                <img *ngIf="eachPost.postImageUrl" src="{{eachPost.postImageUrl}}">
                                <img *ngIf="!eachPost.postImageUrl" src="../../assets/post.jpeg">
                            </div>
                        </div>
                      </mat-card>
                </div>
            </div>
            <div *ngIf="generalFeedPosts.length > 0" class="Dashboard_Paginator">
                <mat-paginator [length]="100" (page)="handlePage($event)" [pageSize]="5" [pageSizeOptions]="[5]"></mat-paginator>
            </div>
            <div *ngIf="topTrendingPosts.length ===0 && generalFeedPosts.length === 0" class="Dashboard_No_Post_Display">
                No posts to display
            </div>
        </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div fxLayout="row" fxFlex="25" class="Dashboard_Wrapper_Friends_Reading_List_Wrapper">
        <div>
            <div class="Dashboard_Add_Friends_Wrapper">
                <h1>Users</h1>
                <div *ngFor="let user of usersList | slice:0:5; index as i" class="Friends_List">
                    <div class="Friend_Wrapper">
                        <span class="Friends_Image_Wrapper">
                            <img src="../../assets/user.png">
                        </span>
                        <span fxLayout="row" fxFlex="60" >
                            {{user.username}}
                        </span>
                        <span class="Friends_Add_Friend">
                            <button (click)="sendFriendRequestToUser(user)" mat-raised-button>Add Friend</button>
                        </span>
                    </div>
                    <mat-divider *ngIf="i < 4"></mat-divider>
                </div>
                <div class="Friends_List_See_More" *ngIf="usersList.length > 5" (click)="showFriendsList()"><mat-hint>See more</mat-hint></div>
            </div>
            <mat-divider></mat-divider>
            <div class="Dashboard_Reading_Lists_Wrapper">
                <h1> Reading List </h1>
                <div (click)="gotToDetailedPost(eachPost)" *ngFor="let eachPost of readingList; index as i" class="Reading_List">
                    <div class="Reading_List_Item">
                        <div class="Friend_Wrapper">
                            <span>
                                <i class="fa fa-book" aria-hidden="true"></i>
                            </span>
                            <span>
                                {{eachPost.title}}
                            </span>
                        </div>
                    </div>
                    <mat-divider *ngIf="i < readingList.length - 1"></mat-divider>
                </div>
            </div>
        </div>
    </div>
</div>
