
<div class="Dashboard_Wrapper" fxLayoutAlign="space-between">
    <div fxLayout="row" fxFlex="75" class="Dashboard_Wrapper_Posts_Wrapper">
        <div fxLayout="column">
            <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Wrapper">
                <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Header">
                    <i class="fa fa-fire fa-2x" aria-hidden="true"></i><span style="font-size: 1.0em;">Trending Posts</span>
                </div>
                <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts">
                    <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post">
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Button">
                            <button mat-mini-fab color="basic" aria-label="Example icon button with a menu icon">1</button>
                        </div>
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Text">
                            <div>Trending Post 1..</div>
                        </div>
                    </div>
                    <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post">
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Button">
                            <button mat-mini-fab color="basic" aria-label="Example icon button with a menu icon">2</button>
                        </div>
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Text">
                            <div>Trending Post 1..</div>
                        </div>
                    </div>
                    <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post">
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Button">
                            <button mat-mini-fab color="basic" aria-label="Example icon button with a menu icon">3</button>
                        </div>
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Text">
                            <div>Trending Post 1..</div>
                        </div>
                    </div>
                    <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post">
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Button">
                            <button mat-mini-fab color="basic" aria-label="Example icon button with a menu icon">4</button>
                        </div>
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Text"> 
                            <div>Trending Post 1..</div>
                        </div>
                    </div>
                    <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post">
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Button">
                            <button mat-mini-fab color="basic" aria-label="Example icon button with a menu icon">5</button>
                        </div>
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Text">
                            <div>Trending Post 1..</div>
                        </div>
                    </div>
                    <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post">
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Button">
                            <button mat-mini-fab color="basic" aria-label="Example icon button with a menu icon">6</button>
                        </div>
                        <div class="Dashboard_Wrapper_Posts_Wrapper_TopPosts_Individual_Post_Text">
                            <div>Trending Post 1..</div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="Dashboard_Wrapper_Posts_Wrapper_Posts">
                <div class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post">
                    <mat-card class="example-card">
                        <div>
                            <div fxLayout="row" fxFlex="80" class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post_Text">
                                <div fxFlex="100" fxLayout="column">
                                    <div class="header"><h3>Header</h3></div>
                                    <div class="content">
                                        <p>
                                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                            bred for hunting.
                                        </p>
                                    </div>
                                </div>     
                            </div>
                            <div fxLayout="row" fxFlex="20" class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post_Image">
                                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            </div>
                        </div>
                      </mat-card>
                </div>
                <div class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post">
                    <mat-card class="example-card">
                        <div>
                            <div fxLayout="row" fxFlex="80" class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post_Text">
                                <div fxFlex="100" fxLayout="column">
                                    <div class="header"><h3>Header</h3></div>
                                    <div class="content">
                                        <p>
                                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                            bred for hunting.
                                        </p>
                                    </div>
                                </div>     
                            </div>
                            <div fxLayout="row" fxFlex="20" class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post_Image">
                                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            </div>
                        </div>
                      </mat-card>
                </div>
                <div class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post">
                    <mat-card class="example-card">
                        <div>
                            <div fxLayout="row" fxFlex="80" class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post_Text">
                                <div fxFlex="100" fxLayout="column">
                                    <div class="header"><h3>Header</h3></div>
                                    <div class="content">
                                        <p>
                                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                            bred for hunting.
                                        </p>
                                    </div>
                                </div>     
                            </div>
                            <div fxLayout="row" fxFlex="20" class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post_Image">
                                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            </div>
                        </div>
                      </mat-card>
                </div>
                <div class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post">
                    <mat-card class="example-card">
                        <div>
                            <div fxLayout="row" fxFlex="80" class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post_Text">
                                <div fxFlex="100" fxLayout="column">
                                    <div class="header"><h3>Header</h3></div>
                                    <div class="content">
                                        <p>
                                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                            bred for hunting.
                                        </p>
                                    </div>
                                </div>     
                            </div>
                            <div fxLayout="row" fxFlex="20" class="Dashboard_Wrapper_Posts_Wrapper_Individual_Post_Image">
                                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            </div>
                        </div>
                      </mat-card>
                </div>
            </div>
        </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div fxLayout="row" fxFlex="25" class="Dashboard_Wrapper_Friends_Reading_List_Wrapper">

    </div>
</div>
            