.example-header-image {
    background-image: url('../../assets/user.png');
    background-size: cover;
}

.Post_Heading_Box {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    .Post_Heading_Content {
        .Post_Heading_Post {
            padding: 1em;
            mat-card {
                margin: 0 auto;
                box-shadow: none !important;
                font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
                img {
                    width: 100%;
                    height: 620px;
                    background-size: cover;
                }
                mat-card-content {
                    margin-top: 0.5em;
                    font-size: 21px;
                    line-height: 32px;
                    font-weight: 400;
                }
            }
            .Post_Heading_Actions {
                margin-top: 1em;
                .Post_Heading_Actions_Panel {
                    background-color: #ffffff;
                    border-radius: 0.2em;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    .Add_Comment_Section {
                        width: 50%;
                        padding: 1em;
                    }
                    .Submit_Comment_Section {
                        div {
                            margin: 0 auto;
                            padding-top: 2.3em;
                        }
                    }
                    .Save_Comment_Section {
                        div {
                            display: flex;
                            padding-top: 2.3em;
                            cursor: pointer;
                            width: 30%;
                            margin-right: 10px;
                        }
                    }
                }
            }
            .Comments_Section {
                margin-top: 1em;
                .Comments_Box {
                    background-color: #ffffff;
                    border-radius: 0.2em;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
                }
            }
            .Inspirer_Section {
                margin-top: 2em;
                .Inspirer_Wrapper {
                    display: flex;
                    flex-direction: row;
                    .Inspirer {
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        img {
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;
                        }
                        h3 {
                            text-align: center;
                        }
                        .Inspirer_Content {
                            margin: 0 1em 0 1em;
                        }
                    }
                    .horizontal_line {
                        width: 80px;
                        height: 1px;
                        background-color: #c1c1c1;
                        position: relative;
                        top: 2em;
                    } 
                }
            }
        }
    }
}


