<app-header></app-header>
<div class="Friends_List_Wrapper">
    <div class="Friends_List">
        <div class="Search_Bar_Wrapper">
          <div class="Search_Bar">
            <mat-form-field class="example-full-width" [style.width.%]="100" appearance="outline">
              <mat-label>Search Friends</mat-label>
              <input matInput [(ngModel)]="friendName">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="Friend_Wrapper" *ngFor="let friend of friendsList | friendList: friendName">
            <mat-card class="example-card">
              <img *ngIf="friend.profileImage" src="{{friend.profileImage}}">
              <img *ngIf="!friend.profileImage" src="../../assets/post.jpeg">
                <mat-card-content>
                  <mat-card-title>{{friend.username}}</mat-card-title>
                </mat-card-content>
                <mat-card-actions>
                  <button (click)="sendFriendRequestToUser(friend)" mat-button>Add Friend</button>
                </mat-card-actions>
            </mat-card>
        </div> 
    </div>
</div>
