.Friends_List_Wrapper {
    .Friends_List {
        width: 70%;
        margin: 0 auto;
        padding: 2em;
        .Friend_Wrapper {
            padding: 1em;
            .example-card {
                padding: 0;
            }
            width: 25%;
            display: inline-block;
            img {
                width: 100%;
            }
            .mat-card-content {
                margin: 0;
                padding: 5px;
            }
            .mat-card-actions {
                padding: 0;
                width: 100%;
                margin: 0;
                .mat-button-base {
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
}