<div class="Header">
    <div class="Navbar">
        <div fxDirection="row" fxFlex="100" class="Navbar_Content">
            <mat-toolbar class="Navbar_Toolbar">
                <div fxDirection="row" fxFlex="80" class="Navbar_Branding">
                    <span (click)="routeToDashboard()" class="Navbar_Application_Title">OFFBEAT ESCAPE</span>
                </div>
                <div fxDirection="row" fxFlex="20" class="Logout_Button">
                    <span [matMenuTriggerFor]="clickMenu" #clickMenuTrigger="matMenuTrigger" class="Navbar_Image_Wrapper">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </span>
                    <span [matMenuTriggerFor]="notificationMenu" #clickMenuTrigger="matMenuTrigger" matBadge="1" matBadgeSize="medium" matBadgeColor="warn" class="Navbar_Notification_Icon">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                    </span>
                    <span (click)="logoutFromApplication()" class="Log_Off">
                        <span>
                            Logout
                        </span>
                    </span>
                </div>
            </mat-toolbar>
        </div>
    </div>
</div>

<mat-menu #clickMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item (click)="goToAddPost()">Add Posts</button>
    <button mat-menu-item (click)="goToMyPosts()">My Posts</button>
</mat-menu>

<div> 
    <mat-menu #notificationMenu="matMenu" class="Notifications_Menu">
        <div class="Friend_Requests_Notification">
            <mat-card class="example-card">
                  <div class="Notifications_Title">Friend A</div>
                <mat-card-content>
                  <p>
                    A wants to add you as a friend
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>ACCEPT</button>
                  <button mat-button>REJECT</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="Friend_Requests_Notification">
            <mat-card class="example-card">
                <div class="Notifications_Title">Friend B</div>
              <mat-card-content>
                <p>
                  A wants to add you as a friend
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>ACCEPT</button>
                <button mat-button>REJECT</button>
              </mat-card-actions>
          </mat-card>
        </div>
    </mat-menu>
</div>

